!!!
%html.no-js{ lang: 'en' }
  %head
    %title= yield(:title)

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ charset: 'utf-8' }

    = csrf_meta_tag

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "//use.typekit.net/vvv5axb.js"

    :javascript 
      try{Typekit.load();}catch(e){}

    :javascript
      (function (d, t) {
      var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
      bh.type = 'text/javascript';
      bh.src = '//www.bugherd.com/sidebarv2.js?apikey=qrpohly2gswlbqfedsr63w';
      s.parentNode.insertBefore(bh, s);
      })(document, 'script');


  %body
    = render 'shared/flashes'

    .container-fluid
      = render 'shared/navbar'
      = yield
      = render 'shared/footer'